{{!-- Add Flag Form --}}
<!DOCTYPE html>
<html>
<head>
    <title>Add A New Flag</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<main>
<h1>Add A New Flag</h1>

<form id="add-flag-form" method="POST" action="/add-flag-form">
  <fieldset>
    <label for="input-flagName">Flag: </label>
    <input type="text" name="input-flagName" id="input-flagName" required>
    
    <button>Add Flag</button>

  </fieldset>
</form>
</body>
</main>
