<!-- index.hbs -->
 <main>
        <h1>Welcome to Daily Flag Guess!</h1>  
        <p><u>Click here</u> to create a free account in minutes and save your progress, or select 'PLAY AS GUEST' to continue without an account. </p>  
        <p><a href="/game"><button>PLAY AS GUEST</button></a></p>
</main>
    

