<!-- index.hbs -->
 <main>
        <h1>Welcome Site Admin!</h1>  
        <p>Select one of the tabs above to manage the Daily Flag Guess database. </p>  
</main>
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

