<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Daily Flag Guess</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <a href="http://localhost:9120/login"><button class="login-register-btn">LOG IN</button></a>
    <a href="/"><button class="login-register-btn">NEW? REGISTER!</button></a>
    <header>
        <h1 id="header"><a href="/">DAILY FLAG GUESS</a></h1>
    </header>
    
    <main>
        <h1>{{title}}</h1>
        {{{body}}}
    </main>

    <footer>
        <p> &copy; 2024 Lydia Fares </p>
    </footer>
</body>
</html>
